<%- include('partials/header') -%>
<body>
  <div class="container">
    <h1><%= post.title %></h1>
  <h2>by: <%=post.user%></h2>
  <p>Likes: <%= post.likes %></p>
  <p><%= post.caption %></p>
  <p>Created At: <%=post.date%></p>
  <% if (post.userId == user._id) {%>
    <form action="/posts/deletePost/<%= post.id %>?_method='DELETE'"
        method="POST">
        <button type="submit">Delete</button>
    </form>
<% } %>
<form action="/posts/likePost/<%= post.id %>?_method='PUT'" method="POST">
    <button type="submit">Like</button>
</form>
  </div>
</body>
</html>